/* Police*/
@font-face {
    font-family: 'playfair';
    src: url('./PlayfairDisplay-VariableFont_wght.ttf'); 
}
@font-face {
    font-family: lato;
    src: url('./Lato-Regular.ttf');
}
/*Effet*/
@keyframes fade {
    From {
    Opacity : 0 ;
    }
    50%{
        opacity: 0.7 ;
    }
    To {
    Opacity : 1 ;
    }
    }
    @keyframes mon_anim{
        0%{
        transform: translateY(-5vh);
        opacity: 0;
        }
        100%{
        transform: translateY(0px);
        opacity: 1;
        }}
.site-logo{
    margin-left: 20px;
    Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
}
.content{
    position: relative;
    Animation-name : fade;
        Animation-delay : 0s ;
        Animation-duration : 3s ;
        Animation-iteration-count : 1 ;
        Animation-name : mon_anim;
        Animation-delay : 0s ;
        Animation-duration : 3s ;
        Animation-iteration-count : 1 ;
}
.image-1{
    width: 900px;
    height:auto;
    margin-left: 30%;
    margin-top: -40%;
    }
.bonjour{
    font-family: 'playfair';
    font-size: 110px;
    position: absolute;
    margin-top: -25%;
    left: 12%;
    transform: translate(-10%, -10%);
}
.box{
    display: flex;
}
p{
    text-align: justify;
    margin-right: 20%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 0%;
    font-family: 'playfair';
    Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
}
#bouton{
    margin-left: 2%;
    margin-top: -7%;
    font-family: 'lato';
    font-size: 20px;
    text-decoration: none;
    outline: none;
    position: absolute;
    border: 1px black solid;
    padding:10px 35px;;
    Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
}
#bouton:link {
    color: black;
    outline: none;
    }
    #bouton:visited {
    color: black;
    outline: none;
    }
    
    #bouton:focus {
    color: black;
    outline: none;
    }
    
    #bouton:hover {
    color: black;
    outline: none;
    }
    
    #bouton:active {
    color: black;
    outline: none;
    }
/*Animation image*/
.cerveau{
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 0%;
    padding-bottom: 0%;
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
     -webkit-transition: all 1s ease; /* Safari et Chrome */
     -moz-transition: all 1s ease; /* Firefox */
     -ms-transition: all 1s ease; /* Internet Explorer 9 */
     -o-transition: all 1s ease; /* Opera */
     transition: all 1s ease;
    Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
     }   
.cerveau:hover{
    /* L'image est diminuer de 25% */
    -webkit-transform:scale(0.90); /* Safari et Chrome */
    -moz-transform:scale(0.90); /* Firefox */
    -ms-transform:scale(0.90); /* Internet Explorer 9 */
    -o-transform:scale(0.90); /* Opera */
    transform:scale(0.90);
    }
.content1{
    position: relative;
}
/* Apparition titre*/
.site-society{
    position: absolute;
    color: bisque;
    opacity: 100%;
    margin-left: 23%;
    margin-top: 20%;
    font-family: 'playfair';
    font-size: 110px;
    top: 20%;
    left: 12%;
    /*Animation*/
    Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 7s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 7s ;
    Animation-iteration-count : 1 ;
 }
/*Hyperlien*/
#bouton2{
     font-family: 'playfair';
     font-size: 60px;
     position: absolute;
     margin-top: -550px;
     margin-left: 600px;
     color: bisque;
     outline: none;
     text-decoration: none;
     Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
 }
#bouton2:link {
color: bisque;
outline: none;
}
#bouton2:visited {
color: bisque;
outline: none;
}

#bouton2:focus {
color: black;
outline: none;
}

#bouton2:hover {
color: black;
outline: none;
}

#bouton2:active {
color: bisque;
outline: none;
}
.content2{
    position: relative;
    Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
}
.illustration{
    width: 50%;
    height: 50%;
    margin-left: 4%;
    margin-top: -8%;
    padding-top: 0%;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
}
.illustration:hover{

    -webkit-transform:scale(0.90); /* Safari et Chrome */
    -moz-transform:scale(0.90); /* Firefox */
    -ms-transform:scale(0.90); /* Internet Explorer 9 */
    -o-transform:scale(0.90); /* Opera */
    transform:scale(0.90);
}
#carre {
    position: absolute;
    margin-left:55% ;
    margin-top: -28.3%;
    width: 570px;
    height: 386px;
    background: black;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    
}
#carre:hover{
    -webkit-transform:scale(0.90); /* Safari et Chrome */
    -moz-transform:scale(0.90); /* Firefox */
    -ms-transform:scale(0.90); /* Internet Explorer 9 */
    -o-transform:scale(0.90); /* Opera */
    transform:scale(0.90);
} 
#footer{
    position: absolute;
    width: 99%;
    height: 100%;
    margin-left: none;
    margin-top: 5%;
    background: #303030;
}
.description{
    position: absolute;
    color: #9D9D9C;
    font-size: 40px;
    margin-right: 40%;
    margin-left: 5%;
    margin-top: 20%;
    text-align: justify;
}
.logo-cv{
    position: absolute;
    margin-top: 20%;
    margin-left: 70%;
    width: 200px;
    height: auto;

}
/*Hyperlien de mail*/
#mail{
    font-family: 'playfair';
    position: absolute;
    color: #FFF;
    outline: none;
    text-decoration: none;
}
#mail:link {
color: #FFF;
outline: none;
}
#mail:visited {
color: #9D9D9C;
outline: none;
}

#mail:focus {
color: black;
outline: none;
}

#mail:hover {
color: black;
outline: none;
}

#mail:active {
color: #9D9D9C;
outline: none;
}
#CV{
    position: absolute;
    background-color: #303030;
    color: #FFF;
    border:  #FFF 1px solid;
    font-family: 'lato';
    font-size: 12px;
    margin-left: 69%;
    margin-top: 40%;
    padding: 10px 35px;
    text-transform: uppercase;
    text-decoration: none;
}
#CV:hover{
    background-color: #FFF;
    color: #303030;
    position: absolute;
    text-decoration: none;
}
/*a propos*/ 
#fond{
    width: 103%;
    margin-top: -2%;
    margin-left:-2%;
    margin-right: -2%;;
}
.site-logo1{
    margin-left: 20px;
    margin-top: -55%;
    Animation-name : fade;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
    Animation-name : mon_anim;
    Animation-delay : 0s ;
    Animation-duration : 3s ;
    Animation-iteration-count : 1 ;
}
#nom_prenom{
    font-size: 60px;
    font-family: 'playfair';
    text-transform: uppercase;
    margin-top: 30%;
    margin-left: 15%;
}
#titre1{
    font-size: 25px;
    font-family: 'playfair';
    text-transform: uppercase;
    margin-left: 15%;
    margin-top: 15%;
}
#competences{
    margin-left: 50%;
    margin-top: -9%;
    margin-right: 1%;
    font-size: 18px;
    font-family: 'playfair';
}
#ligne1{
    width: 800px;
    height: 1px;
    background: black;
    margin-top: 10%;
    margin-left: 20%;
}
#titre2{
    font-size: 25px;
    font-family: 'playfair';
    text-transform: uppercase;
    margin-left: 20%;
    margin-top: 15%;
}
#auto-formation{
    margin-left: 50%;
    margin-top: -9%;
    margin-right: 1%;
    font-size: 18px;
    
}
#ligne2{
    width: 800px;
    height: 1px;
    background: black;
    margin-top: 10%;
    margin-left: 20%;
}
#titre3{
    font-size: 25px;
    font-family: 'playfair';
    text-transform: uppercase;
    margin-left: 20%;
    margin-top: 15%;
}
#experiences{
    margin-left: 50%;
    margin-top: -13%;
    margin-right: 1%;
    font-size: 18px;
}
#ligne3{
    width: 800px;
    height: 1px;
    background: black;
    margin-top: 5%;
    margin-left: 20%;
}
#titre4{
    font-size: 25px;
    font-family: 'playfair';
    text-transform: uppercase;
    margin-left: 20%;
    margin-top: 8%;
}
#passions{
    margin-left: 50%;
    margin-top: -5%;
    margin-right: 1%;
    font-size: 18px;
}