/* Police*/
@font-face {
    font-family: 'playfair';
    src: url('./PlayfairDisplay-VariableFont_wght.ttf'); }

.site-logo{
    margin-left: 20px;
}
.content{
    position: relative;
}

h1{
    font-family: 'playfair';
    font-size: 110px;
    position: absolute;
    top: 20%;
    left: 12%;
    transform: translate(-10%, -10%);
}
.image-1{
width: 900px;
height:auto;
margin-left: 30%;
margin-top: 2%;
}

.box{
    display: flex;
}
p{
    text-align: justify;
    margin-right: 20%;
    margin-left: 5%;
    margin-top: 5%;
    font-family: 'playfair';
}
